* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --bg-page: linear-gradient(
    90deg,
    rgba(30, 140, 130, 1) 0%,
    rgba(40, 150, 140, 1) 50%,
    rgba(50, 160, 150, 1) 100%
  );

  --primary-color: #ffe1bd;
  --secondary-color: #fdcc0e;
  --hover-btn-color: ;

  --box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

  --bg-plan1-header: rgb(230, 105, 15);
  --bg-plan2-header: rgb(230, 105, 15);
  --bg-plan3-header: rgb(230, 105, 15);

  --fs-button: 1.2rem;
  --fs-section: 1.4rem;
  --fs-menu: 1.5rem;
}

body {
  background: var(--bg-page);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--primary-color);
}

.Home,
.Sobre,
.Contato {
  height: 64vh;
}

.Produto {
  height: auto;
}

.Home,
.Sobre,
.Contato,
.Produto {
  position: relative;
  margin: 12.5% 5%;
  padding: 5%;
  font-size: var(--fs-section);
  text-align: justify;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: var(--box-shadow);
  line-height: 2.8rem;
}
