* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --bg-page: linear-gradient(
    90deg,
    rgba(10, 77, 104, 1) 0%,
    rgba(8, 131, 149, 1) 50%,
    rgba(5, 191, 219, 1) 100%
  );

  --primary-color: white;
  --secondary-color: #00ffca;
  --hover-btn-color: ;

  --border: 1px solid rgba(255, 255, 255, 0.1);
  --box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

  --fs-button: 1.2rem;
  --fs-section: 1.4rem;
  --fs-menu: 1.5rem;
}

body {
  background: var(--bg-page);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--primary-color);
}

.Home,
.Sobre,
.Contato {
  height: 64vh;
}

.Produto {
  height: auto;
}

.Home,
.Sobre,
.Contato,
.Produto {
  position: relative;
  margin: 12.5% 5%;
  padding: 5%;
  font-size: var(--fs-section);
  text-align: justify;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: transparent;
  border: var(--border);
  backdrop-filter: blur(20px);
  box-shadow: var(--box-shadow);
  line-height: 2.8rem;
}
