.container {
  display: flex;
  justify-content: center;
}

.card {
  border: var(--border);
  border-radius: 20px;
  width: 33%;
  margin: 1%;
  box-shadow: var(--box-shadow);
}

.card-header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: var(--hover-btn-color);
}

.card-plan1 {
  background-color: var(--bg-plan1-header);
}

.card-plan2 {
  background-color: var(--bg-plan2-header);
}

.card-plan3 {
  background-color: var(--bg-plan3-header);
}

.card-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.card-body {
  padding: 1%;
  font-size: 20px;
}

.card-description {
  text-align: center;
}

.advantage {
  display: flex;
  justify-content: center;
}

.card-footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1%;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
}

.card-button {
  width: 50%;
  height: 40px;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  color: var(--secondary-color);
  font-size: var(--fs-button);
  font-weight: bold;
  background-color: transparent;
  margin-bottom: 12px;
}

.card-button:hover {
  border: none;
  transition: all 0.4s;
  background-color: var(--secondary-color);
  color: var(--hover-btn-color);
  cursor: pointer;
}
