.container {
  display: flex;
  justify-content: center;
}

.card {
  border: var(--border);
  border-radius: 20px;
  width: 30%;
  margin: 1%;
  box-shadow: var(--box-shadow);
}

.card-header {
  border-radius: 20px;
  padding: 1%;
  color: var(--primary-color);
}

.card-plan1 {
  background-color: #0a4d68;
}

.card-plan2 {
  background-color: #05bfdb;
}

.card-plan3 {
  background-color: #088395;
}

.card-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.card-body {
  padding: 1%;
  font-size: 20px;
}

.card-description {
  text-align: center;
}

.advantage {
  display: flex;
  justify-content: center;
}

.card-footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1%;
  color: #fff;
  display: flex;
  justify-content: center;
}

.card-button {
  width: 50%;
  height: 40px;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  color: var(--secondary-color);
  font-size: var(--fs-button);
  font-weight: bold;
  background-color: transparent;
}

.card-button:hover {
  border: none;
  background-color: var(--secondary-color);
  color: var(--hover-btn-color);
}
