.Navbar {
  position: fixed;
  z-index: 1;
  width: 145vh;
  height: 10vh;
  margin: -10% 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bg-menu-transparent);
  border-radius: 10px;
  font-size: var(--fs-menu);
}

.navbar-menu {
  display: inline-block;
  padding: 0 1rem;
  text-decoration: none;
}

.nav-links:hover {
  transform: scale(1.2);
  color: var(--secondary-color);
}

.navbar-button {
  width: 10%;
  height: 50%;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  color: var(--secondary-color);
  font-size: var(--fs-button);
  font-weight: bold;
  background-color: transparent;
}

.navbar-button:hover {
  border: none;
  background-color: var(--secondary-color);
  color: var(--hover-btn-color);
}
