.Navbar {
  position: fixed;
  z-index: 1;
  width: 80%;
  height: fit-content;
  margin: -10% 10%;
  padding: 1.5% 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--bg-color);
  backdrop-filter: var(--bd-filter);
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  font-size: var(--fs-menu);
}

.navbar-logo a {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.navbar-logo img {
  width: 35%;
}

.navbar-menu {
  display: inline-flex;
  padding: 0 1rem;
  text-decoration: none;
}

.nav-links {
  cursor: pointer;
  transition: all 0.3s;
}

.nav-links:hover {
  transition: all 0.3s;
  color: var(--secondary-color);
}

.navbar-button {
  padding: 2% 5%;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  color: var(--secondary-color);
  font-size: var(--fs-button);
  font-weight: bold;
  background-color: transparent;
  transition: all 0.4s;
}

.navbar-button:hover {
  border: none;
  transition: all 0.4s;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--hover-btn-color);
  cursor: pointer;
}
