.Footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--bg-color);
  border: var(--border);
  backdrop-filter: var(--bd-filter);
  box-shadow: var(--box-shadow);
  border-radius: 10px 10px 0 0;
  font-size: 1.5rem;
}
